*{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: blue;
}

p{
    color: brown;
    background-color: aqua;
}
#headline {
    text-align: start;
    color: blueviolet;
    background-color: aqua;
}

ul{
    color: blueviolet;
}